/*==============================================================================
Event Icons
==============================================================================*/

ul.event-option {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0;
}

ul.event-option li {
    display: inline;
    margin: 0 5px;
}


/* event icons */

.event-option a.icoFood:hover {
    background-color: #0086FF;
}

.event-option a.icoNightlife:hover {
    background-color: #B600E8;
}

.event-option a.icoFun:hover {
    background-color: #FF4E00;
}

.event-option a.icoArts:hover {
    background-color: #E8CE0C;
}

.event-option a.icoSights:hover {
    background-color: #00FF83;
}

.event-option a.icoSights:hover i, .event-option a.icoFood:hover i, .event-option a.icoFun:hover i, .event-option a.icoNightlife:hover i, .event-option a.icoArts:hover i {
    color: #FFF;
}

a.socialIcon:hover, .socialHoverClass {
    color: #44BCDD;
}

.event-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 50px;
    height: 50px;
    font-size: 20px;
    list-style: none;
}

.event-circle li i {
    margin: 0;
    line-height: 50px;
    text-align: center;
}

.event-circle li a:hover i, .triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}

.event-circle i {
    color: #fff;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}

.eventPin {
    background-color: #D3D3D3;
}

.eventButton {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    outline: none;
    overflow: hidden;
}


/*==============================================================================
Event Area
==============================================================================*/

section.results {
    margin: 5px;
}

section.results:hover {
    border-color: 1px dodgerblue;
}

.results {
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
    margin: auto;
}

.results bis-img {
    height: 100px;
    width: 100px;
}

.results li {
    list-style: none;
}

results results-footer {
    background-color: #24242a;
}

.results header {
    color: white;
    text-align: center;
    background-color: #24242a;
}

.results ul {
    border: 2px solid #24242A;
    height: 460px;
    width: 400px;
    float: left;
    margin: 5px;
}


/*--============================================================================
test carousel
===========================================================================  */

.results-slideshow {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
}

.results-slideshow>div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    transform: translate3d(0, 0, 0);
}

.results-slideshow .mover-1 {
    animation: moveSlideshow 12s linear infinite;
}


/*.results-slideshow .mover-2 {
    opacity: 0;
    transition: opacity 0.5s ease-out;
    background-position: 0 -200px;
    animation: moveSlideshow 15s linear infinite;
}*/


/*
.results-slideshow:hover .mover-2 {
    opacity: 1;
}*/

@keyframes moveSlideshow {
    100% {
        transform: translateX(-66.6666%);
    }
}


/*==============================================================================
End of test
==============================================================================*/


/*==============================================================================
 Footer Social Icons
 ============================================================================ */

ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0;
}

ul.social-network li {
    display: inline;
    margin: 0 5px;
}


/* footer social icons */

.social-network a.icoFacebook:hover {
    background-color: #3B5998;
}

.social-network a.icoYouTube:hover {
    background-color: #BB0000;
}

.social-network a.icoTwitter:hover {
    background-color: #33CCFF;
}

.social-network a.icoLinkedin:hover {
    background-color: #007BB7;
}

.social-network a.icoPinterest:hover {
    background-color: #CB2027;
}

.social-network a.icoPinterest:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i, .social-network a.icoYouTube:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
    color: #FFF;
}

a.socialIcon:hover, .socialHoverClass {
    color: #44BCDD;
}

.social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 50px;
    height: 50px;
    font-size: 20px;
}

.social-circle li i {
    margin: 0;
    line-height: 50px;
    text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}

.social-circle i {
    color: #fff;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}

.socialPin {
    background-color: #D3D3D3;
}

.8s;

}
.socialPin {
    background-color: #D3D3D3;
}
