/*==============================================================================
Beginning of Style for General App Page


 ()()
 ( ..)
c('')('')
==============================================================================*/

body li {
    list-style: none;
}


/*==============================================================================
End of Style for General App Page
==============================================================================*/


/*==============================================================================
Beginning of Style for Event Buttons
==============================================================================*/

.event-button {
    background-color: Transparent;
    border: none;
    outline: none;
    border-color: 1px solid aliceblue;
}

.event-button span {
    font-family: sans-serif;
    font-weight: bold;
}

.event-option a.ico-restaurants:hover {
    background-color: #0086FF;
}

.event-option a.ico-nightlife:hover {
    background-color: #B600E8;
}

.event-option a.ico-entertainment:hover {
    background-color: #FF4E00;
}

.event-option a.ico-arts:hover {
    background-color: #E8CE0C;
}

a.socialIcon:hover, .socialHoverClass {
    color: #44BCDD;
}

.event-option a.ico-outdoors:hover {
    background-color: #00FF83;
}

.event-option a.ico-outdoors:hover i, .event-option a.ico-restaurants:hover i, .event-option a.ico-entertainment:hover i, .event-option a.ico-nightlife:hover i, .event-option a.ico-arts:hover i {
    color: #FFF;
}

.event-circle li i {
    margin: 0;
    line-height: 100px;
    text-align: center;
}

.event-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 100px;
    height: 100px;
    font-size: 20px;
    list-style: none;
}

.event-circle i {
    color: #fff;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}

.event-circle li a:hover i, .triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}

.event-pin {
    background-color: #D3D3D3;
}

ul.event-option {
    list-style: none;
    display: inline;
    margin: auto !important;
    padding: 0;
}

ul.event-option li {
    display: inline;
    margin: 0 5px;
}


/*Have background color stay while on*/

.arts-selected {
    background-color: #E8CE0C!important;
}

.fun-selected {
    background-color: #FF4E00!important;
}

.nightlife-selected {
    background-color: #B600E8!important;
}

.restaurant-selected {
    background-color: #0086FF!important;
}

.sights-selected {
    background-color: #00FF83!important;
}


/*==============================================================================
End of Style for Event Buttons
==============================================================================*/

.resultsArea::-webkit-scrollbar-thumb {
    background-color: #24242A;
    outline: 1px solid #F5F5F5;
}

.resultsArea::-webkit-scrollbar {
    width: 2em;
}

.resultsArea::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 12px rgba(0, 0, 0, 0.5);
}


/*==============================================================================
Beginning of Style for Event Section
==============================================================================*/

.eventSection {
    background-color: #24242A;
    border-color: 1px solid aliceblue;
}

.eventSection h2 {
    color: white;
    font-weight: bolder;
}

.eventSection h4 {
    color: white;
    font-weight: bolder;
}


/*==============================================================================
End of Style for Event Section
==============================================================================*/


/*==============================================================================
Beginning of Style for Event Area
==============================================================================*/

.results {
    float: none;
    margin: 0 auto;
    /*display: inline-flex;*/
    /*overflow-x: hidden*/
}

.results .phoneInfo {
    position: inherit;
}

.results h3 {
    margin-top: 0px;
}

.results i {
    margin-right: 5px;
    float: left;
    color: crimson;
}

.results .bisImg {
    height: 100px;
    width: 100px;
    margin-right: 10px;
    border: 2px solid aliceblue;
}

.results .bisRating {
    margin-bottom: 5px;
}

.results li {
    list-style: none;
    margin-top: -4px;
}

.results header {
    color: white;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    -webkit-text-stroke: 1px rgba(192, 182, 95, 0.93);
}

.results .bisInfo {
    height: 115px;
}

.results .userInfo {
    height: 115px;
    margin-top: 20px;
}

.results .resultsArea {
    overflow-y: scroll;
    height: 600px;
}

.results ul {
    border: 3px solid rgba(192, 182, 95, 0.93);
    width: 460px;
    margin: 10px;
    color: white;
    background-color: #24242A;
    float: left;
}

.results ul:hover {
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.6);
}

.results .addEvent button {
    border: 1px solid aliceblue;
}

.results-container {
    height: 600px;
}

.results-list {
    position: relative;
    height: 100%;
    width: 100%;
}

.sticky-button {
    bottom: 0;
    position: absolute;
    width: 100%;
    padding: 0 35px 10px 0;
    border-color: 1px solid aliceblue;
}

.scheduleSection h2 {
    font-weight: bolder;
}

.search-section {
    display: table;
}

.search-section [class*='col-'] {
    display: table-cell;
    float: none;
    vertical-align: top;
}


/*==============================================================================
End of Style for Event Area
==============================================================================*/

.itineraryList i {
    color: white;
    float: none;
}

.itineraryList button {
    margin-bottom: 20px;
}


/*--============================================================================
Beginning of Style for Scroll Area
===========================================================================  */


/*==============================================================================
End of Scroll  Area Styling
==============================================================================*/


/*==============================================================================
 Footer Social Icons
 ============================================================================ */

ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0;
}

ul.social-network li {
    display: inline;
    margin: 0 5px;
}


/* footer social icons */

.social-network a.icoFacebook:hover {
    background-color: #3B5998;
}

.social-network a.icoYouTube:hover {
    background-color: #BB0000;
}

.social-network a.icoTwitter:hover {
    background-color: #33CCFF;
}

.social-network a.icoLinkedin:hover {
    background-color: #007BB7;
}

.social-network a.icoPinterest:hover {
    background-color: #CB2027;
}

.social-network a.icoPinterest:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i, .social-network a.icoYouTube:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
    color: #FFF;
}

a.socialIcon:hover, .socialHoverClass {
    color: #44BCDD;
}

.social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 50px;
    height: 50px;
    font-size: 20px;
}

.social-circle li i {
    margin: 0;
    line-height: 50px;
    text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}

.social-circle i {
    color: #fff;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}

.socialPin {
    background-color: #D3D3D3;
}


}

}
