/*==============================================================================
Beginning of Style for General App Page


 ()()
 ( ..)
c('')('')
==============================================================================*/

body li {
    list-style: none;
}


/*==============================================================================
End of Style for General App Page
==============================================================================*/


/*==============================================================================
Beginning of Style for Navbar Area
==============================================================================*/

.nav-item .dropdown .profileTab .open a:focus ul li {
    background-color: #24242A !important;
    color: white !important;
}


/*==============================================================================
End of Style for Navbar Area
==============================================================================*/


/*==============================================================================
Beginning of Style for Event Icons
==============================================================================*/

ul.event-option {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0;
}

ul.event-option li {
    display: inline;
    margin: 0 5px;
}

.event-option a.icoRestaurants:hover {
    background-color: #0086FF;
}

.restaurantSelected {
    background-color: #0086FF!important;
}

.event-option a.icoNightlife:hover {
    background-color: #B600E8;
}

.nightlifeSelected {
    background-color: #B600E8!important;
}

.event-option a.icoEntertainment:hover {
    background-color: #FF4E00;
}

.funSelected {
    background-color: #FF4E00!important;
}

.event-option a.icoArts:hover {
    background-color: #E8CE0C;
}

.artsSelected {
    background-color: #E8CE0C!important;
}

.event-option a.icoOutdoors:hover {
    background-color: #00FF83;
}

.sightsSelected {
    background-color: #00FF83!important;
}

.event-option a.icoOutdoors:hover i, .event-option a.icoRestaurants:hover i, .event-option a.icoEntertainment:hover i, .event-option a.icoNightlife:hover i, .event-option a.icoArts:hover i {
    color: #FFF;
}

a.socialIcon:hover, .socialHoverClass {
    color: #44BCDD;
}

.event-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 100px;
    height: 100px;
    font-size: 20px;
    list-style: none;
}

.event-circle li i {
    margin: 0;
    line-height: 100px;
    text-align: center;
}

.event-circle li a:hover i, .triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}

.event-circle i {
    color: #fff;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}

.eventPin {
    background-color: #D3D3D3;
}

.eventButton {
    background-color: Transparent;
    border: none;
    outline: none;
}

.eventButton span {
    font-weight: bold;
    font-family: sans-serif;
}


/*==============================================================================
Beginning of Style for Event Icons
==============================================================================*/


/*==============================================================================
Beginning of Style for Event Area
==============================================================================*/

.results {
    display: inline-flex;
    /*overflow-x: hidden;*/
}

.results .phoneInfo {
    position: inherit;
}

.results h3 {
    margin-top: 0px;
}

.results i {
    margin-right: 5px;
    float: left;
    color: crimson;
}

.results .bisImg {
    height: 100px;
    width: 100px;
    margin-right: 10px;
    border: 2px solid aliceblue;
}

.results .bisRating {
    margin-bottom: 5px;
}

.results li {
    list-style: none;
    margin-top: -4px;
}

.results header {
    color: white;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    -webkit-text-stroke: 1px rgba(192, 182, 95, 0.93);
}

.results .bisInfo {
    height: 115px;
}

.results .userInfo {
    height: 115px;
    margin-top: 20px;
}

.results ul {
    border: 3px solid rgba(192, 182, 95, 0.93);
    width: 460px;
    margin: 5px;
    color: white;
    background-color: #24242A;
}

.results .addEvent button {
    border: 1px solid aliceblue;
}


/*==============================================================================
End of Style for Event Area
==============================================================================*/


/*==============================================================================
Beginning of Style for Events Selected
==============================================================================*/


/*.mapsToPhone a:link {
    text-decoration: none;
    color: white;
}

.mapsToPhone a:hover {
    text-decoration: none;
    color: white;
}*/


/*==============================================================================
End of Style for Events Selected
==============================================================================*/


/*--============================================================================
Beginning of Style for Scroll Area
===========================================================================  */


/*.DocumentList {
    overflow-x: scroll;
    overflow-y: hidden;*/


/*width: 100%;*/


/*padding: 0 15px;*/


}

/*.DocumentItem {
    border: 1px solid black;
    padding: 0;
    height: 200px;
}*/
.slideShow {
    position: relative;
    transform: translate3d(0, 0, 0);
}

/*.slideShow:hover {
    animation-play-state: paused!important;
}*/
.slideShow>div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    transform: translate3d(0, 0, 0);
}
.slideShow .mover-1 {
    animation: moveSlideshow 25s linear infinite;
    /*-webkit-animation-iteration-count: infinite;
    animation-play-state: running;
    animation: circular;*/
}

/*.slideShow .mover-2 {
    opacity: 0;
    transition: opacity 0.5s ease-out;
    background-position: 0 -200px;
    animation: moveSlideshow 15s linear infinite;
}



.slideShow:hover .mover-2 {
    opacity: 1;
}*/
@keyframes moveSlideshow {
    100% {
        transform: translateX(-999.9999%);
    }
}

/*==============================================================================
End of Scroll  Area Styling
==============================================================================*/

/*==============================================================================
 Footer Social Icons
 ============================================================================ */
ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0;
}
ul.social-network li {
    display: inline;
    margin: 0 5px;
}

/* footer social icons */
.social-network a.icoFacebook:hover {
    background-color: #3B5998;
}
.social-network a.icoYouTube:hover {
    background-color: #BB0000;
}
.social-network a.icoTwitter:hover {
    background-color: #33CCFF;
}
.social-network a.icoLinkedin:hover {
    background-color: #007BB7;
}
.social-network a.icoPinterest:hover {
    background-color: #CB2027;
}
.social-network a.icoPinterest:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i, .social-network a.icoYouTube:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
    color: #FFF;
}
a.socialIcon:hover, .socialHoverClass {
    color: #44BCDD;
}
.social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 50px;
    height: 50px;
    font-size: 20px;
}
.social-circle li i {
    margin: 0;
    line-height: 50px;
    text-align: center;
}
.social-circle li a:hover i, .triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}
.social-circle i {
    color: #fff;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}
.socialPin {
    background-color: #D3D3D3;
}
