<!DOCTYPE html>
<html lang="en" ng-app="RSVP">

<head>
    <meta charset='utf-8'>
    <!--========================================================================
    Project Title
  ===========================================================================-->
    <title>RSVP</title>
    <!--JS script tags go here  -->

    <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.js'></script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.js'></script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.js'></script>
    <script src='//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.js'></script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-animate.js'></script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.2.0/ui-bootstrap-tpls.js'></script>

    <script src="/js/oauth-signature.js"></script>
    <script src="/js/main.js"></script>

    <!--CSS link tags go here, my own CSS is always at bottom  -->

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="shortcut icon" href="img/favicon/favicon-bird-32x32.png">
</head>


<body ng-controller="YelpCtrl as yelp">
    <div style='height: 100px'></div>
    <!-- Return to Top -->
    <!-- ICON NEEDS FONT AWESOME FOR CHEVRON UP ICON -->
    <!--Controls for the top of the page button  -->
    <a href="javascript:" id="return-to-top"><i class="fa fa-arrow-up"></i></a>
    <!-- Header
    ============================================= -->
    <section class="main-header">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"><img class='nav-logo' src="img/logo/logo-bird.png" class="img-responsive" alt="logo"></a>
                </div>
                <div class="collapse navbar-collapse text-center" id="bs-example-navbar-collapse-1">
                    <div class="col-md-8 col-xs-12 nav-wrap">
                        <ul class="nav navbar-nav">
                            <li><a href="/">Home</a></li>
                            <li><a href="#services">Services</a></li>
                            <li><a href="#portfolio">Events</a></li>
                            <li><a href="#team">About</a></li>
                            <li class="nav-item dropdown profileTab">
                                <a href="#" class="nav-link dropdown-toggle" id="supportedContentDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">PROFILE <i class="fa fa-caret-down" aria-hidden="true" style='color:white'></i></a>
                                <ul class="dropdown-menu" aria-labelledby="supportedContentDropdown">
                                    <li class="dropdown-item"><a href="/html/profile.html">VIEW PROFILE</a></li>
                                    <li class="dropdown-item"><a href="/html/profile.html">SETTINGS</a></li>
                                    <li class="dropdown-item"><a href="/html/profile.html">LOG-OUT</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
        </nav>
        <!--====================================================================
        Event Calendar Widget Options
    =========================================================================-->
        <style>
            .full button span {
                background-color: limegreen;
                border-radius: 32px;
                color: black;
            }

            .partially button span {
                background-color: orange;
                border-radius: 32px;
                color: black;
            }
        </style>
        <div>
            <!-- ng-controller="DatepickerPopupDemoCtrl" -->
            <h2>Choose the Day for your Event</h2>
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <pre>Selected date is: <em>{{yelp.dt | date:'fullDate' }}</em></pre>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <p class="input-group">
                        <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="yelp.dt" is-open="yelp.popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                        <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="yelp.open1()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <button type="button" class="btn btn-sm btn-info active" ng-click="yelp.today()">Today</button>
                    <!-- <button type="button" class="btn btn-sm btn-default" ng-click="yelp.setDate(2009, 7, 24)">2009-08-24</button> -->
                    <button type="button" class="btn btn-sm btn-danger active" ng-click="yelp.clear()">Clear</button>
                </div>
            </div>
        </div>
        <hr />

        <!--====================================================================
        End of Event Calendar Widget Options
    =========================================================================-->

        <!---===================================================================
        Event Options
    ========================================================================--->
        <div>
            <h2 style='color:white; background-color: #24242A'>CHOOSE YOUR EVENTS</h2>
        </div>
        <br>
        <div class="event-container row">
            <div class="col-md-6 col-md-offset-3">
                <ul class="event-option event-circle">
                    <li>
                        <button type="button" class="eventButton" ng-click='yelp.changeCategory("restaurants"); yelp.activeButton["restaurants"]=!yelp.activeButton["restaurants"]'>
                                <a href=# ng-class='{"restaurantSelected icoRestaurants eventPin":yelp.activeButton["restaurants"], "icoRestaurants eventPin":!yelp.activeButton["restaurants"]}'>
                                    <i class="fa fa-cutlery fa-3x"></i>
                                </a>
                                <br><span>RESTAURANTS</span>
                            </button>
                    </li>
                    <li>
                        <button type='button' class='eventButton' type="button" ng-click='yelp.changeCategory("nightlife"); yelp.activeButton["nightlife"]=!yelp.activeButton["nightlife"]'>
                                <a href=# ng-class='{"nightlifeSelected icoNightlife eventPin":yelp.activeButton["nightlife"], "icoNightlife eventPin":!yelp.activeButton["nightlife"]}'>
                                    <i class="fa fa-glass fa-3x"></i>
                                </a>
                                <br><span>NIGHTLIFE</span>
                            </button>

                    </li>
                    <li>
                        <button type='button' class='eventButton' type="button" ng-click='yelp.changeCategory("amusementparks"); yelp.activeButton["amusementparks"]=!yelp.activeButton["amusementparks"]'>
                                <a href=# ng-class='{"funSelected icoEntertainment eventPin":yelp.activeButton["amusementparks"], "icoEntertainment eventPin":!yelp.activeButton["amusementparks"]}'>
                                    <i class='fa fa-ticket fa-3x'></i>
                                </a>
                                <br><span>ENTERTAINMENT</span>
                            </button>

                    </li>
                    <li>
                        <button type='button' class='eventButton' type="button" ng-click='yelp.changeCategory("arts"); yelp.activeButton["arts"]=!yelp.activeButton["arts"]'>
                                <a href=# ng-class='{"artsSelected icoArts eventPin":yelp.activeButton["arts"], "icoArts eventPin":!yelp.activeButton["arts"]}'>
                                    <i class='fa fa-music fa-3x'></i>
                                </a>
                                    <br><span>ARTS & MUSIC</span>
                            </button>

                    </li>
                    <li>
                        <button type='button' class='eventButton' type="button" ng-click='yelp.changeCategory("hiking"); yelp.activeButton["hiking"]=!yelp.activeButton["hiking"]'>
                                <a href=# ng-class='{"sightsSelected icoOutdoors eventPin":yelp.activeButton["hiking"], "icoOutdoors eventPin":!yelp.activeButton["hiking"]}'>
                                    <i class='fa fa-tree fa-3x'></i>
                                </a>
                                <br><span>OUTDOORS</span>
                            </button>
                    </li>
                </ul>
            </div>
        </div>
        <br>
        <!--====================================================================
        Seach option goes here
    =====================================================================-->
        <section>
            <form class='form well' ng-submit="yelp.testApi()">
                <!-- <select class='form-control' ng-options='category as category for category in yelp.categories' ng-model='yelp.category'>
            <option value="" disabled selected>Please Select</option>
        </select> -->
                <input class='form-control' ng-model="yelp.term" type="text" placeholder="I'm looking for...">
                <input class='form-control' ng-model="yelp.location" type="text" placeholder="Enter City or Zipcode">
                <button class='btn btn-success btn-lg btn-block active' type="submit"><span class="glyphicon glyphicon-search"></span> Search</button>
            </form>
        </section>
        <!--====================================================================
Results go here
=============================================================================-->
        <div class="well results DocumentList">
            <ul class='well DocumentItem' ng-repeat='business in yelp.data.businesses'>
                <header>
                    <h3><a ng-href="{{business.url}}" target='_blank'>{{business.name.substring(0,28)}}</a></h3>
                </header>
                <div class='bisInfo'>
                    <li>
                        <img class='bisImg' align=left ng-src="{{business.image_url}}" />
                    </li>
                    <li><img class='bisRating' ng-src="{{business.rating_img_url_large}}" /></li>
                    <i class='fa fa-map-marker fa-2x'></i>
                    <li ng-repeat='line in business.location.display_address'>
                        {{line.substring(0,35)}}
                    </li>
                    <li class='phoneInfo'><a href="#"><i class='fa fa-phone fa-2x'></i> {{business.display_phone}}</a></li>
                </div>

                <div class='userInfo'>
                    <li>
                        <img class='bisImg' ng-src="{{business.snippet_image_url}}" align=left /> <b>Recent Reviews:</b> {{business.snippet_text.substring(0,200)}}
                    </li>
                </div>
                <div class='addEvent'>
                    <button type="button" class='btn btn-success btn-lg btn-block active' ng-click='yelp.addEvent(business.name, business.location.display_address, business.image_url)'>ADD</button>
                </div>
            </ul>
        </div>
        <br>
        <!--====================================================================
        Results selected for Search go here
    ======================================================================== -->
        <div class="row">
            <div class="col-md-6">
                <section class='form well'>
                    <!-- style='width: 50%; height:400px; float:left' -->
                    <ul ng-repeat='event in yelp.events'>
                        <li class='form-control' style='list-style:none ; height:50px ; line-height: 2.428571'>
                            <i class='fa fa-map-marker'></i> {{event.name.substring(0,20)}} - {{event.address}}
                            <button type="button" style="float:right; height:100% ; line-height:50% ; position:relative" class='btn btn-danger btn-sm active' ng-click='yelp.removeEvent(event.name)'>Remove</button>
                        </li>
                    </ul>
                    <button type="button" class='btn btn-success btn-lg btn-block active' class="mapsToPhone" ng-click='yelp.SaveData()'>
                        <!-- <a href="/twilio.html"> -->
                            <i class='fa fa-map'></i>
                            Send Maps to Phone
                            <!-- </a> -->
                    </button>
            </div>
        </div>

        <!--====================================================================
        Map goes here
    =======================================================================  -->
        <!-- <h3>Map Your RSVP</h3> -->
        <div class="row">
            <div class="col-md-6 col-md-offset-6">
                <section id="map">
                    <!-- style='width: 50%; height:400px, float:right' -->
                </section>
            </div>
        </div>
        <!--====================================================================
     Footer
	======================================================================== -->
        <footer>
            <img class='footer-logo' src="img/welcome/alone-bird.png" />
            <img class='welcome-logo' src="img/welcome/rsvp.png" />
            <div class="social container">
                <div class="col-lg-12">
                    <ul class="social-network social-circle">
                        <li><a href="//facebook.com" class="icoFacebook socialPin"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="//youtube.com" class="icoYouTube socialPin"><i class="fa fa-youtube-play"></i></a></li>
                        <li><a href="//twitter.com" class="icoTwitter socialPin"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="//linkedin.com" class="icoLinkedin socialPin"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="//pinterest.com" class="icoPinterest socialPin"><i class="fa fa-pinterest-p"></i></a></li>
                    </ul>
                </div>
            </div>
            <h6>RSVP &copy; 2016</h6>
            <h6>A Project by LymeLite Productions Inc.</h6>
        </footer>
        <script>
            function initMap() {
                var uluru = {
                    lat: 40.014986,
                    lng: -105.270546
                };
                var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 8,
                    center: uluru
                });
                var marker = new google.maps.Marker({
                    position: uluru,
                    map: map
                });
            }
        </script>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBNRtTF2TAFII2q-HjdoAdBoHXGvUxaKH4&callback=initMap">
        </script>
</body>

</html>
