<!DOCTYPE html>
<html lang="en" ng-app="RSVP">

<head>
    <meta charset='utf-8'>
    <!--========================================================================
    Project Title
  ===========================================================================-->
    <title>RSVP</title>

    <!--JS script tags go here  -->
    <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.js'></script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.js'></script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.js'></script>
    <script src='//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.js'></script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-animate.js'></script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.2.0/ui-bootstrap-tpls.js'></script>
    <script src="/js/oauth-signature.js"></script>
    <script src="/js/main.js"></script>

    <!--CSS link tags go here, my own CSS is always at bottom  -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/css/main.css">
    <!--Slick Carousel mover  -->

    <!-- <link rel="stylesheet" href="slick/slick.css" />
    <link rel="stylesheet" href="slick/slick-theme.css" /> -->

    <!--Weather Style Sheet  -->
    <!-- <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700,inherit,400" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="css/standardize.css">
    <link rel="stylesheet" href="css/index.css"> -->
    <!--Favicon  -->
    <link rel="shortcut icon" href="img/favicon/favicon-bird-32x32.png">
</head>


<body ng-controller="YelpCtrl as yelp">
    <div style='height: 100px'></div>
    <!-- Return to Top -->
    <!--Controls for the top of the page button  -->
    <a href="javascript:" id="return-to-top"><i class="fa fa-arrow-up"></i></a>
    <!-- Header
    ============================================= -->
    <section class="main-header">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"><img class='nav-logo' src="img/logo/logo-bird.png" class="img-responsive" alt="logo"></a>
                </div>
                <div class="collapse navbar-collapse text-center" id="bs-example-navbar-collapse-1">
                    <div class="col-md-8 col-xs-12 nav-wrap">
                        <ul class="nav navbar-nav">
                            <li><a href="/">Home</a></li>
                            <li><a href="#services">Services</a></li>
                            <li><a href="">Events</a></li>
                            <li><a href="#team">About</a></li>
                            <li><a href="/html/profile.html">PROFILE</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <!--====================================================================
        Event Calendar Widget Options
    =========================================================================-->
        <style>
            .full button span {
                background-color: limegreen;
                border-radius: 32px;
                color: black;
            }

            .partially button span {
                background-color: orange;
                border-radius: 32px;
                color: black;
            }
        </style>
        <section class='scheduleSection'>
            <h2>SCHEDULE</h2>
            <hr class='sep'>
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <pre>Selected date is: <em>{{yelp.dt | date:'fullDate' }}</em></pre>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <p class="input-group">
                        <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="yelp.dt" is-open="yelp.popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                        <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="yelp.open1()">
                <i class="fa fa-calendar"></i>
            </button>
          </span>
                    </p>
                </div>
        </section>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <button type="button" class="btn btn-sm btn-info active" ng-click="yelp.today()">Today</button>
                <button type="button" class="btn btn-sm btn-danger active" ng-click="yelp.clear()">Clear</button>
            </div>
        </div>
        </div>
        <hr />

        <!--====================================================================
        End of Event Calendar Widget Options
    =========================================================================-->
        <section>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <!-- <section class="body page-index clearfix">
                        <div class="container clearfix">
                            <p class="location"></p>
                            <p class="temperature"></p>
                            <div class="climate_bg"></div>
                            <div class="info_bg">
                                <img class="dropicon" src="images/Droplet.svg">
                                <p class="humidity"></p>

                                <img class="windicon" src="images/Wind.svg">
                                <div class="windspeed"></div>
                            </div>
                    </section> -->
                </div>
            </div>
        </section>
        <!--====================================================================
    Weather App Section
  ===========================================================================-->

        <!--====================================================================
    Weather App Section
  ===========================================================================-->

        <!---===================================================================
        Event Options
    ========================================================================--->
        <section class="eventSection">
            <div class="row">
                <div class="col-lg-4 col-lg-offset-4">
                    <h2> YOUR EVENTS</h2>
                    <hr class='light-sep'>
                </div>
            </div>

            <div class="social container">
                <div class="col-lg-10 col-lg-offset-1">
                    <ul class="event-option event-circle">
                        <li>
                            <button type="button" class="eventButton" ng-click='yelp.changeCategory("restaurants"); yelp.activeButton["restaurants"]=!yelp.activeButton["restaurants"]'>
                                <a href='' ng-class='{"restaurantSelected icoRestaurants eventPin":yelp.activeButton["restaurants"], "icoRestaurants eventPin":!yelp.activeButton["restaurants"]}'>
                                    <i class="fa fa-cutlery fa-3x"></i>
                                </a>
                                <br><h4>RESTAURANTS</h4>
                            </button>
                        </li>
                        <li>
                            <button type='button' class='eventButton' type="button" ng-click='yelp.changeCategory("nightlife"); yelp.activeButton["nightlife"]=!yelp.activeButton["nightlife"]'>
                                <a href='' ng-class='{"nightlifeSelected icoNightlife eventPin":yelp.activeButton["nightlife"], "icoNightlife eventPin":!yelp.activeButton["nightlife"]}'>
                                    <i class="fa fa-glass fa-3x"></i>
                                </a>
                                <br><h4>NIGHTLIFE</h4>
                            </button>
                        </li>
                        <li>
                            <button type='button' class='eventButton' type="button" ng-click='yelp.changeCategory("amusementparks"); yelp.activeButton["amusementparks"]=!yelp.activeButton["amusementparks"]'>
                                <a href='' ng-class='{"funSelected icoEntertainment eventPin":yelp.activeButton["amusementparks"], "icoEntertainment eventPin":!yelp.activeButton["amusementparks"]}'>
                                    <i class='fa fa-ticket fa-3x'></i>
                                </a>
                                <br><h4>ENTERTAINMENT</h4>
                            </button>
                        </li>
                        <li>
                            <button type='button' class='eventButton' type="button" ng-click='yelp.changeCategory("arts"); yelp.activeButton["arts"]=!yelp.activeButton["arts"]'>
                                <a href='' ng-class='{"artsSelected icoArts eventPin":yelp.activeButton["arts"], "icoArts eventPin":!yelp.activeButton["arts"]}'>
                                    <i class='fa fa-music fa-3x'></i>
                                </a>
                                <br><h4>ARTS & MUSIC</h4>
                            </button>
                        </li>

                        <li>
                            <button type='button' class='eventButton' type="button" ng-click='yelp.changeCategory("hiking"); yelp.activeButton["hiking"]=!yelp.activeButton["hiking"]'>
                                <a href='' ng-class='{"sightsSelected icoOutdoors eventPin":yelp.activeButton["hiking"], "icoOutdoors eventPin":!yelp.activeButton["hiking"]}'>
                                    <i class='fa fa-tree fa-3x'></i>
                                </a>
                                <br><h4>OUTDOORS</h4>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <br>
        <!--====================================================================
        Seach option goes here
    =====================================================================-->
        <section>
            <form class='form well' ng-submit="yelp.testApi()">
                <!-- <select class='form-control' ng-options='category as category for category in yelp.categories' ng-model='yelp.category'>
            <option value="" disabled selected>Please Select</option>
        </select> -->
                <input class='form-control' ng-model="yelp.term" type="text" placeholder="I'm looking for...">
                <input class='form-control' ng-model="yelp.location" type="text" placeholder="Enter City or Zipcode">
                <button class='btn btn-success btn-lg btn-block active' type="submit"><span class="glyphicon glyphicon-search"></span> Search</button>
            </form>
        </section>
        <!--====================================================================
Results go here
=============================================================================-->
        <div class="results well">
            <div class="carousel">
                <ul class='well' ng-repeat='business in yelp.data.businesses'>
                    <header>
                        <h3><a ng-href="{{business.url}}" target='_blank'>{{business.name.substring(0,28)}}</a></h3>
                    </header>
                    <div class='bisInfo'>
                        <li>
                            <img class='bisImg' align=left ng-src="{{business.image_url}}" />
                        </li>
                        <li><img class='bisRating' ng-src="{{business.rating_img_url_large}}" /></li>
                        <i class='fa fa-map-marker fa-2x'></i>
                        <li ng-repeat='line in business.location.display_address'>
                            <a href='http://maps.google.com/?q={{business.name}},{{business.location.display_address}}' target='_blank'>
                            {{line.substring(0,35)}}
                        </a>
                        </li>
                        <li class='phoneInfo'>
                            <a href="tel:{{business.display_phone}}">
                                <i class='fa fa-phone fa-2x'></i> {{business.display_phone}}
                            </a>
                        </li>
                    </div>

                    <div class='userInfo'>
                        <li>
                            <img class='bisImg' ng-src="{{business.snippet_image_url}}" align=left /> <b>Recent Reviews:</b> {{business.snippet_text.substring(0,200)}}
                        </li>
                    </div>
                    <div class='addEvent'>
                        <button type="button" class='btn btn-success btn-lg btn-block active' ng-click='yelp.addEvent(business.name, business.location.display_address, business.image_url, business.location.coordinate.latitude, business.location.coordinate.longitude)'>
                            ADD
                        </button>
                    </div>
                </ul>
            </div>
        </div>
        <br><br>
        <!--====================================================================
        Results selected for Search go here
    ======================================================================== -->
        <div class="row">
            <div class="col-sm-6">
                <section class='form well'>
                    <ul ng-repeat='event in yelp.events'>
                        <li class='form-control' style='list-style:none ; height:50px ; line-height: 2.428571'>
                            <i class='fa fa-map-marker'></i> {{event.name.substring(0,20)}} - {{event.address}}
                            <button type="button" style="float:right; height:100% ; line-height:50% ; position:relative" class='btn btn-danger btn-sm active' ng-click='yelp.removeEvent(event.name)'>Remove</button>
                        </li>
                    </ul>
                    <button id="submit" type="button" class='btn btn-success btn-lg btn-block active center'>
                            <i class='fa fa-map'></i>
                            Show Routes
                    </button>
                    <button type="button" class='btn btn-success btn-lg btn-block active center' class="mapsToPhone" ng-click='yelp.SaveData()'>
                            <i class='fa fa-map'></i>
                            Send Message to Friends
                    </button>
                </section>
            </div>

            <!--================================================================
            Map goes here
    =======================================================================  -->

            <div class="col-sm-6 ">
                <section id="map">

                </section>
                <div id="directions-panel"></div>
            </div>
        </div>

        <!--====================================================================
            Footer
===========================================================================  -->
        <footer>
            <img class='footer-logo' src="img/welcome/alone-bird.png" />
            <img class='welcome-logo' src="img/welcome/rsvp.png" />
            <div class="social container">
                <div class="col-lg-12">
                    <ul class="social-network social-circle">
                        <li><a href="//facebook.com" class="icoFacebook socialPin"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="//youtube.com" class="icoYouTube socialPin"><i class="fa fa-youtube-play"></i></a></li>
                        <li><a href="//twitter.com" class="icoTwitter socialPin"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="//linkedin.com" class="icoLinkedin socialPin"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="//pinterest.com" class="icoPinterest socialPin"><i class="fa fa-pinterest-p"></i></a></li>
                    </ul>
                </div>
            </div>
            <h6>RSVP &copy; 2016</h6>
            <h6>A Project by LymeLite Productions Inc.</h6>
        </footer>
        <!-- <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <script src="slick/slick.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                $('.carousel').slick({
                    setting - name: setting - value
                });
            });
        </script> -->

        <!--Weather Script Tags  -->
        <!-- <script>
            function initMap() {
                var uluru = {
                    lat: 40.014986,
                    // lat: {{business.location.coordinate.latitude}}
                    lng: -105.270546
                        //  lng: {{business.location.coordinate.longitute}}
                };
                var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 8,
                    center: uluru
                });
                var marker = new google.maps.Marker({
                    position: uluru,
                    map: map
                });
            }
        </script> -->
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBNRtTF2TAFII2q-HjdoAdBoHXGvUxaKH4">
        </script>
</body>

</html>
l>
