<!DOCTYPE html>
<html>

<!DOCTYPE html>
<html lang="en" ng-app="RSVP">

<head>
    <meta charset='utf-8'>
    <!--========================================================================
    Profile Page
  ===========================================================================-->
    <title>RSVP</title>
    <!--JS script tags go here  -->

    <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.js'></script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.js'></script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.js'></script>
    <script src='//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.js'></script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-animate.js'></script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.2.0/ui-bootstrap-tpls.js'></script>
    <script src="/js/oauth-signature.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/custom.js"></script>

    </script>

    <!--CSS link tags go here, my own CSS is always at bottom  -->

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="/css/itinerary.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="shortcut icon" href="/img/favicon/favicon-bird-32x32.png">
</head>

<body ng-controller="YelpCtrl as yelp" ng-init='yelp.getItinerary()'>
    <!-- Return to Top -->
    <!-- ICON NEEDS FONT AWESOME FOR CHEVRON UP ICON -->
    <!--Controls for the top of the page button  -->
    <a href="javascript:" id="return-to-top"><i class="fa fa-arrow-up"></i></a>
    <!-- Header
    ============================================= -->
    <p class="text-center">
        <a href="/"><img style="width:20%" src="/img/welcome/alone-bird.png" /></a>
    </p>
    <!--====================================================================
        Profile Header
    =========================================================================-->
    <section class='itinerary-section'>
        <h1 class='rsvp'>RSVP ITINERARY</h1>
        <hr class='sep'>
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <ul class='well'>
                    <li ng-repeat=" event in yelp.itinerary.events" class='event-name'>
                        <i class='fa fa-building'></i>
                        <img ng-src="{{event.img}} " align=left></img> {{event.name}}
                        <ul class='event-address'>
                            <i class='fa fa-map-marker'></i>
                            <li ng-repeat="line in event.address">{{line.substring(0,35)}}</li>
                        </ul>
                        <br>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <!--====================================================================
     Footer
    ======================================================================== -->
    <footer>
        <a href="/">
            <a href="/"><img class='footer-logo' src="/img/welcome/alone-bird.png " /></a>
            <a href="/"><img class='welcome-logo' src="/img/welcome/rsvp.png " /></a>
            <div class="social container ">
                <div class="col-lg-12 ">
                    <ul class="social-network social-circle ">
                        <li><a href="//facebook.com " class="icoFacebook socialPin "><i class="fa fa-facebook "></i></a></li>
                        <li><a href="//youtube.com " class="icoYouTube socialPin "><i class="fa fa-youtube-play "></i></a></li>
                        <li><a href="//twitter.com " class="icoTwitter socialPin "><i class="fa fa-twitter "></i></a></li>
                        <li><a href="//linkedin.com " class="icoLinkedin socialPin "><i class="fa fa-linkedin "></i></a></li>
                        <li><a href="//pinterest.com " class="icoPinterest socialPin "><i class="fa fa-pinterest-p "></i></a></li>
                    </ul>
                </div>
            </div>
            <h6>RSVP &copy; 2016</h6>
            <h6>A Project by LymeLite Productions Inc.</h6>
    </footer>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js "></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/bootstrap-assets/js/bootstrap.min.js "></script>
    <script src="/js/custom.js "></script>
    <!-- JS PLUGINS -->
    <script src="/plugins/owl-carousel/owl.carousel.min.js "></script>
    <script src="/js/jquery.easing.min.js "></script>
    <script src="/plugins/waypoints/jquery.waypoints.min.js "></script>
    <script src="/plugins/countTo/jquery.countTo.js "></script>
    <script src="/plugins/inview/jquery.inview.min.js "></script>
    <script src="/plugins/Lightbox/dist/js/lightbox.min.js "></script>
    <script src="/plugins/WOW/dist/wow.min.js "></script>
</body>

</html>
