<!DOCTYPE html>
<html ng-app="RSVP">

<head>
    <meta charset='utf-8'>
    <!--========================================================================
    This is the Textbelt Messaging Page
  ===========================================================================-->
    <title>RSVP</title>
    <!--JS script tags go here  -->

    <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.js'></script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.js'></script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.js'></script>
    <script src='//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.js'></script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-animate.js'></script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.2.0/ui-bootstrap-tpls.js'></script>
    <script src="/js/oauth-signature.js"></script>
    <script src="/js/main.js"></script>
    <!-- <script src="/js/custom.js"></script> -->

    <!--CSS link tags go here, my own CSS is always at bottom  -->

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="shortcut icon" href="/img/favicon/favicon-bird-32x32.png">
</head>


<body ng-controller="YelpCtrl as yelp">
    <!-- Return to Top -->
    <!-- ICON NEEDS FONT AWESOME FOR CHEVRON UP ICON -->
    <!--Controls for the top of the page button  -->
    <a href="javascript:" id="return-to-top"><i class="fa fa-arrow-up"></i></a>
    <!-- Header
    ============================================= -->
    <section class="main-header">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/"><img class='nav-logo' src="/img/logo/logo-bird.png" class="img-responsive" alt="logo"></a>
                </div>
                <div class="collapse navbar-collapse text-center" id="bs-example-navbar-collapse-1">
                    <div class="col-md-8 col-xs-12 nav-wrap">
                        <ul class="nav navbar-nav">
                            <li><a href="/">Home</a></li>
                            <li><a href="/app">CREATE EVENT</a></li>
                            <li><a href="#contact" class="page-scroll">TEXT</a></li>
                            <li><a href="/html/profile.html">PROFILE</a></li>
                            <li><a href="">LOGOUT</a></li>
                        </ul>
                    </div>
                </div>
        </nav>
        <br>
        <br>
        <section id="welcome">
            <div class="container">
                <h2>Thanks for using <span><img class='welcome-logo' src="/img/welcome/rsvp.png"/></span></h2>
                <hr class="sep">
                <img class="img-responsive center-block wow fadeInUp welcome-logo" data-wow-delay=".3s" src="/img/welcome/alone-bird.png" alt="logo">
            </div>
        </section>

        <section id="contact">
            <div class="container">
                <br><br>
                <h2>Message Your Friends</h2>
                <hr class="sep">
                <p>Get In Touch</p>
                <div class="col-md-6 col-md-offset-3 wow fadeInUp" data-wow-delay=".2s">
                    <form ng-submit='yelp.sendMessage()'>
                        <div class="form-group">
                            <input ng-model='yelp.getName' type="text" class="form-control" id="Name" placeholder="Name(s)" maxlength="20">
                        </div>
                        <div class="form-group">
                            <input ng-model='yelp.getNumber' type="text" class="form-control" id="Email" placeholder="Phone Number(s)" maxlength="50">
                        </div>
                        <div class="form-group">
                            <textarea ng-model='yelp.getMessage' class="form-control" rows="3" placeholder="Text Your Friends" maxlength="160"></textarea>
                        </div>
                        {{yelp.getMessage.length}}/160 characters
                        <button type='sumbit' class="btn-block">Send</button>
                    </form>

                </div>
            </div>
        </section>

        <!--====================================================================
 Footer
======================================================================== -->
        <footer>
            <img class='footer-logo' src="/img/welcome/alone-bird.png " />
            <img class='welcome-logo' src="/img/welcome/rsvp.png " />
            <div class="social container ">
                <div class="col-lg-12 ">
                    <ul class="social-network social-circle ">
                        <li><a href="//facebook.com " class="icoFacebook socialPin "><i class="fa fa-facebook "></i></a></li>
                        <li><a href="//youtube.com " class="icoYouTube socialPin "><i class="fa fa-youtube-play "></i></a></li>
                        <li><a href="//twitter.com " class="icoTwitter socialPin "><i class="fa fa-twitter "></i></a></li>
                        <li><a href="//linkedin.com " class="icoLinkedin socialPin "><i class="fa fa-linkedin "></i></a></li>
                        <li><a href="//pinterest.com " class="icoPinterest socialPin "><i class="fa fa-pinterest-p "></i></a></li>
                    </ul>
                </div>
            </div>
            <h6>RSVP &copy; 2016</h6>
            <h6>A Project by LymeLite Productions Inc.</h6>
        </footer>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js "></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="/bootstrap-assets/js/bootstrap.min.js "></script>
        <!-- <script src="/js/custom.js "></script> -->
        <!-- JS PLUGINS -->
        <script src="/plugins/owl-carousel/owl.carousel.min.js "></script>
        <script src="/js/jquery.easing.min.js "></script>
        <!-- <script src="/plugins/waypoints/jquery.waypoints.min.js "></script> -->
        <script src="/plugins/countTo/jquery.countTo.js "></script>
        <script src="/plugins/inview/jquery.inview.min.js "></script>
        <script src="/plugins/Lightbox/dist/js/lightbox.min.js "></script>
        <script src="/plugins/WOW/dist/wow.min.js "></script>

</body>

</html>
